<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments-head :: head(${'Fox Club'})"></head>
<body>
<div class="container mt-5">
    <ul th:include="fragments-nav::navigation"></ul>

    <img src="./greenfox.png" alt="Your fox">

    <div th:if="${fox != null && fox.drink != null}">
        <div class="info">
            <p th:text="'This is ' + ${fox.name} +
    '. He\'s eating ' + ${fox.food} + ' and drinks '    + ${fox.drink} + '. He knows '
    + ${fox.numberOfTricks()} + ' trick(s).'"></p>
        </div>
        <div class=" tricks" th:if="${!trickList.isEmpty()}">
            <h2>Known tricks:</h2>
            <ul th:each="trick:${trickList}">
                <li th:text="${trick.name}"></li>
            </ul>
        </div>
        <div th:if="${trickList.isEmpty()}">
            <h2 class="alert alert-primary"> You don't know any tricks yet! Go to trick center to learn some
                tricks!</h2>
        </div>
        <div class="history">
            <h2>Action history:</h2>
            <ul>
                <li>asdad</li>
            </ul>
        </div>

    </div>


</div>
</body>
</html>