<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head(${'Fox Club'})"></head>
<body>
<div class="container mt-5">
    <ul>
        <li><a th:href="'/login'">login</a></li>
        <li><a th:href="@{/(name=${name})}">Information</a></li>
        <li><a th:href="@{/nutrition-store(name=${name})}">Nutrition Store</a></li>
        <li><a th:href="@{/trick-center(name=${name})}">Trick center</a></li>

    </ul>


    <form th:action="@{/nutrition-store(name=${name})}" method="post">
        <div class="form-group row dropdown col-sm-10 mb-2">
            <label class="mb-2 mr-2">Choose a food:</label>
            <select name="food" class="mb-2">
                <option th:each="food:${foodList}" th:value="${food.name}" th:text="${food.name}"></option>
            </select>
        </div>

        <div class="form-group row dropdown col-sm-10 mb-2">
            <label class="mb-2 mr-2">Choose a drink:</label>
            <select name="drink" class="mb-2">
                <option th:each="drink:${drinkList}" th:value="${drink.name}" th:text="${drink.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mb-2 block">GO</button>
    </form>
</div>
</body>
</html>