<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments-head :: head(${'Fox Club'})"></head>
<body>
<div class="container mt-5">

    <ul th:include="fragments-nav::navigation"></ul>

    <p th:text="${name}"></p>

    <!--    th:action="@{/update-food(foodId=${food.id})}"-->
    <form th:action="@{/trick-center(name=${name})}" method="post">
        <div class="form-group row dropdown col-sm-10 mb-2" th:if="${!trickList.isEmpty()}">
            <label class="mb-2 mr-2">Choose a trick:</label>
            <select name="trick" class="mb-2">
                <option th:each="trick:${trickList}" th:value="${trick.name}" th:text="${trick.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2 block" th:if="${!trickList.isEmpty()}">GO</button>
    </form>
    <div th:if="${trickList.isEmpty()}">
        <h2 class="alert alert-success">Congrats, you've learned everything!</h2>

    </div>
</div>
</body>
</html>