.red {
    background-color: rgb(227, 46, 30);
}

.blue {
    background-color: royalblue;
}

.lime {
    background-color: rgb(114, 252, 68);
}

.orange {
    background-color: orange;
}

.magenta {
    background-color: rgb(252, 68, 234);
}