<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Log In</title>
</head>
<body>
<div class="container-fluid mt-5">
    <div th:if="${!passwordOk}" class="alert alert-danger mt-5" role="alert">
        Password have to match!
    </div>
    <div th:if="${!userFound}" class="alert alert-danger mt-5" role="alert">
        No user found, create a new account!
    </div>


    <h1>Sign up</h1>
    <form th:action="@{/register}" method="post">
        <div class="form-group row col-sm-10">
            <label class="mb-2">First name</label>
            <input class="form-control mb-2" type="text" name="firstName" th:value="${firstName}" required>
        </div>
        <div class="form-group row col-sm-10">
            <label class="mb-2">Last name</label>
            <input class="form-control mb-2" type="text" name="lastName" th:value="${lastName}" required>
        </div>

        <div class="form-group row col-sm-10">
            <label class="mb-2">Username</label>
            <input class="form-control mb-2" type="text" name="userName" th:value="${userName}" required>
        </div>

        <div class="form-group row col-sm-10">
            <label class="mb-2">Password</label>
            <input class="form-control mb-2" type="password" name="password" required>

        </div>
        <div class="form-group row col-sm-10">
            <label class="mb-2">Retype password</label>
            <input class="form-control mb-2" type="password" name="passwordConfirmation" required>
        </div>


        <button type="submit" class="btn btn-primary mb-2 block">SIGN UP</button>

    </form>


</div>

</body>

</html>