<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Log In</title>
</head>
<body>
<div class="container">
    <h1 class="mb-5">Submit new post</h1>
    <form th:action="@{/submit(userName=${userName})}" method="post">
        <div class="form-group">
            <label >Post title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label >Your post</label>
            <input type="text" class="form-control" name="postBody" placeholder="url">

            <textarea name="postBody"  cols="30" rows="10" class="form-control mt-3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>
</body>
</html>