<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head(${'Log In'})"></head>
<body>
<div class="container mt-5">
    <h1>Welcome to Programmer Fox Club!</h1>

    <p>Please provide a name so you can associate it to your pet!</p>


    <form th:action="@{/login}" class="form-inline" method="post">
        <div class="form-group">
            <label>Name: </label>
            <input type="text" name="name" class="form-control">
            <button type="submit" class="btn btn-primary">GO</button>
        </div>
    </form>
</div>

</body>
</html>