<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap"
          rel="stylesheet">

    <title>My Webshop</title>
</head>
<body>
<div class="container">
    <header>
        <h1>My Shop</h1>
        <hr>
        <section class="navigation">
            <button class="heading-btn"><a th:href="'/only-available'">Only Available</a></button>
            <button class="heading-btn"><a th:href="'/cheapest-first'">Cheapest First</a></button>
            <button class="heading-btn"><a href="">Contains Nike</a></button>
            <button class="heading-btn"><a href="">Average Stock</a></button>
            <button class="heading-btn"><a href="">Most Expensive Available</a></button>
        </section>
    </header>
    <main>
        <table>
            <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Quantity of stock</td>
            </tr>
            </thead>
            <tbody>
            <tr class="row" th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${#numbers.formatDecimal(item.price, 0, 'DEFAULT',2,'DEFAULT')}"></td>
                <td th:text="${item.quantityOfStock}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>