<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap"
          rel="stylesheet">

    <title>My Webshop</title>
</head>
<body>
<div class="container">
    <header>
        <div class="page-title">
            <h1><a th:href="'/webshop'">My Shop</a></h1>
            <!--            <h1><a th:href="'/more-filters'">More>></a></h1>-->
        </div>

        <hr>

        <section class="navigation">
            <button class="heading-btn" th:each="filter:${filters}"><a th:href="'/filter-by-type/'+ ${filter.shortName}"
                                                                       th:text="${filter.longName}"></a></button>

            <button class="heading-btn"><a th:href="'more-filters'">Euro</a></button>
            <button class="heading-btn"><a th:href="'more-filters'">Original currency</a></button>
        </section>

    </header>

    <main>

        <form action="/search" method="post">

            <button type="submit">Above</button>
            <button type="submit">Below</button>
            <button type="submit">Exactly</button>

            <label for="search" class="search">Filter by Price:</label>
            <br>
            <input type="text" id="search" name="search" placeholder="Start typing..." class="search-field">

        </form>

        <table>
            <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Description</td>
                <td>Price</td>
                <td>Quantity of stock</td>
            </tr>
            </thead>
            <tbody>
            <tr class="row" th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.getTypeString()}"></td>
                <td th:text="${item.description}"></td>

                <!--                <td th:text="${#numbers.formatDecimal(item.price, 0, 'DEFAULT',2,'DEFAULT')} + 'HUF'"></td>-->
                <!--                <td th:text="${#numbers.formatCurrency(item.price)}"></td>-->
                <td th:text="${item.getFormattedPrice()}"></td>

                <td th:text="${item.quantityOfStock}"></td>
            </tr>
            </tbody>
        </table>

    </main>

</div>
</body>
</html>