<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head(${'My Webshop'})"></head>

<body>
<div class="container">
    <header>
        <div class="page-title">
            <h1><a th:href="'/webshop'">Emi's Shop</a></h1>
        </div>

        <hr>

        <section class="navigation">
            <a th:each="filter:${filters}" th:href="'/filter-by-type/'+ ${filter.shortName}">
                <button class="heading-btn" th:text="${filter.longName}"></button>
            </a>


            <a th:href="'/price-in-eur'">
                <button class="heading-btn">Euro</button>
            </a>
            <a th:href="'/price-in-original'">
                <button class="heading-btn">Original currency</button>
            </a>
        </section>

    </header>

    <main>

        <form action="/filter-by-price" method="post">

            <input type="submit" name="filter-type" value="above" class="btn">
            <input type="submit" name="filter-type" value="exactly" class="btn">
            <input type="submit" name="filter-type" value="below" class="btn">

            <label class="search">Filter by Price:</label>
            <br>
            <input type="number" name="filter" placeholder="...e.g.:300" class="search-field" required>


        </form>

        <table>
            <thead>
            <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Description</td>
                <td>Price</td>
                <td>Quantity of stock</td>
            </tr>
            </thead>
            <tbody>
            <tr class="row" th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.getTypeString()}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.getFormattedPrice()}"></td>

                <td th:text="${item.quantityOfStock}"></td>
            </tr>
            </tbody>
        </table>

    </main>

</div>
</body>
</html>