<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap"
          rel="stylesheet">

    <title>My Webshop</title>
</head>
<body>
<div class="container">
    <header>
        <div class="page-title">
            <h1><a th:href="'/webshop'">My Shop</a></h1>
            <h1><a th:href="'/more-filters'">More>></a></h1>
        </div>

        <hr>

        <section class="navigation">
            <button class="heading-btn"><a th:href="'/only-available'">Only Available</a></button>
            <button class="heading-btn"><a th:href="'/cheapest-first'">Cheapest First</a></button>
            <button class="heading-btn"><a th:href="'/contains-nike'">Contains Nike</a></button>
            <button class="heading-btn"><a th:href="'/average-stock'">Average Stock</a></button>
            <button class="heading-btn"><a th:href="'/most-expensive'">Most Expensive Available</a></button>
        </section>
    </header>
    <main>

        <form action="/search" method="post">

            <label for="search" class="search">Search for:</label>
            <input type="text" id="search" name="search" placeholder="e.g.: 300" class="search-field">
            <button type="submit">Search</button>

        </form>

        <h2 th:text="${statistic}" class="stat"></h2>

    </main>
</div>
</body>
</html>