<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <thed>
        <tr>
            <td>Owner</td>
            <td>Balance</td>
        </tr>
    </thed>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.name}"></td>
        <td th:text="${#numbers.formatDecimal(account.balance,0, 2, 'DEFAULT')} + ' ' + ${account.animalType}"></td>
    </tr>
</table>

</body>
</html>